/** MOBILE DEVICES*/
@media screen and (max-width: 480px) {
  .img-desktop {
    display: none;
  }
  .img-tablet {
    display: none;
  }
  .content-bottom {
    display: none;
  }
  body {
    background: var(--dark) url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 78px 24px;
    background-attachment: fixed;
  }
  body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(18, 23, 37, 0.9);
  }
  .container {
    width: 100%;
    background: transparent;
    padding: 0;
    margin-top: 55px;
    margin-left: 0;
    z-index: 1;
    position: relative;
  }
  .logo {
    padding: 62px 0px;
    /* display: flex; */
    justify-content: center;
    padding: 0px;
    position: relative;
  }
  .content-left {
    background-color: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .content-left h1 {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
  }
}
/** IPAD AND TABLETS*/
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .img-desktop {
    display: none;
  }
  .content-right {
    position: absolute;
    margin-left: 0px;
    height: 700px;
    margin-top: 0px;
    right: 0px;
  }
  .img-tablet {
    float: right;
  }
  h1 {
    font-size: 2.5rem;
  }
  .container {
    width: 100%;
    margin-bottom: 0px;
    min-height: 100vh;
    position: relative;
  }
  .content-left {
    z-index: 1;
    height: 518px;
    position: absolute;
    width: 80%;
    top: 250px;
    left: 0px;
  }
  .content-bottom {
    position: absolute;
    margin-left: 0px;
    height: 400px;
    bottom: 0px;
    width: 100%;
  }
  .img-bottom {
    position: absolute;
    margin-left: 0px;
    float: left;
    top: 350px;
    left: 40px;
    bottom: 0px;
  }
  .socials {
    margin-top: 60px;
    flex-direction: row;
    gap: 2rem;
  }
  .logo {
    top: 60px;
    left: 50px;
  }
}
/** LAPTOP AND DESKTOP*/
@media screen and (min-width: 1200px) {
  .img-tablet {
    display: none;
  }
}
