@media screen and (max-width: 1200px) {
  .header {
    padding-left: 80px;
  }
  .main__container {
    margin-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: var(--dark-black) url(./assets/tablet/image-host.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 78px;
  }
  .header {
    padding-left: 39px;
  }
  .main__container {
    margin-left: 39px;
  }
  .bg-pattern-dots {
    bottom: 0;
    left: 30px;
  }
  .main__container {
    width: 635px;
  }
}

@media screen and (max-width: 675px) {
  .header {
    padding: 62px 0px;
    display: flex;
    justify-content: center;
    padding: 0px;
    position: relative;
  }
  body {
    background: var(--dark-black) url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 78px 24px;
    background-attachment: fixed;
  }
  body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(18, 23, 37, 0.9);
  }
  .main__container {
    width: 100%;
    background: transparent;
    padding: 0;
    margin-top: 55px;
    margin-left: 0;
    z-index: 1;
    position: relative;
  }
  .main__container h1 {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
  }
  .main__container p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
  }
  .bg-pattern-dots {
    display: none;
  }
  form,
  .form-field {
    width: 100%;
  }
  .request_access {
    position: relative;
    width: 100%;
    margin-top: 16px;
    top: 0;
    right: 0;
  }
  .socials {
    column-gap: 22px;
    justify-content: center;
  }
  .socials_spotify {
    width: 56px;
    height: 17px;
  }
  .socials_apple {
    width: 45px;
    height: 17px;
  }
  .socials_google {
    width: 73px;
    height: 11px;
  }
  .socials_pocket {
    width: 77px;
    height: 15px;
  }
}
