@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;1,400;1,700&display=swap");

:root {
  /* COLORS */
  --dark-black: #121725;
  --white: #ffffff;
  --slayty: #2c344b;
  --neon: #54e6af;
  --silver: #c2cbe5;
  --light-slayty: #5a668a;
  --red: #fb3e3e;
  /* FONTS */
  --ff-chivo: "Chivo", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background: var(--dark-black) url(./assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  color: var(--white);
  font-family: var(--ff-chivo);
  position: relative;
}

button {
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}
.header {
  padding-top: 50px;
  padding-left: 165px;
}
.header__logo {
  width: 134.851px;
  height: 56px;
}
.main__container {
  margin-top: 102px;
  margin-left: 165px;
  padding: 88px 58px 58px 0px;
  background: var(--dark-black);
  width: 720px;
  display: flex;
  flex-direction: column;
}
.main__container h1 {
  color: var(--neon);
  font-family: var(--ff-chivo);
  font-size: 52px;
  font-style: normal;
  font-weight: 100;
  line-height: 62px;
  text-transform: uppercase;
  margin: 0;
}
.main__container h1 span {
  color: var(--white);
}
.main__container p {
  width: 445px;
  color: var(--silver);
  font-family: var(--ff-chivo);
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 28px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 40px;
}
.form-field {
  width: 425px;
  position: relative;
}
form .email_input {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  background: var(--slayty);
  padding: 14px 0px 14px 32px;
  color: var(--white);
  font-family: var(--ff-chivo);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border: none;
}

.email_input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.email_input:is(:focus, :focus-visible, :focus-within, :active) {
  outline: none;
  border: none;
}
.request_access {
  width: 162px;
  height: 46px;
  border-radius: 28px;
  background: var(--neon);
  box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-black);
  font-family: var(--ff-chivo);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.request_access:is(:hover) {
  background: #b3ffe2;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}

.socials {
  display: flex;
  column-gap: 40px;
  align-items: center;
  margin-top: 70px;
}
.socials_spotify {
  width: 96px;
  height: 29px;
}
.socials_apple {
  width: 78px;
  height: 29px;
}
.socials_google {
  width: 125px;
  height: 18px;
}
.socials_pocket {
  width: 129px;
  height: 26px;
}
.bg-pattern-dots {
  position: absolute;
  width: 232px;
  right: 0;
  bottom: 78px;
}
