/** MOBILE DEVICES*/
@media screen and (max-width: 480px) {
  body {
    background-color: lightsalmon;
  }
}
/** IPAD AND TABLETS*/
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .img-desktop {
    display: none;
  }
  .content-right {
    margin-top: 0px;
    right: 0px;
  }
  .img-tablet {
    float: right;
  }
  .container {
    position: relative;
  }
  .content-left {
    position: absolute;
    width: 80%;
    top: 250px;
    left: 30px;
  }
}
/** LAPTOP AND DESKTOP*/
@media screen and (min-width: 1200px) {
  .img-tablet {
    display: none;
  }
}
